*.pyc
*.swp
build/
dist/
*.egg-info/
.ipynb_checkpoints/
.ropeproject/
python-environment/
nohup.out
main.mplstyle
pbs_controller
pbs_engines
ipc*.out
data/
results*
*.swo
run*
*~
*#
fitresults/*
notes/*.pdf
